* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Gudea';
}

.margin {
    margin: 1em;
}

.padding {
    padding: 1em;
}

.inline {
    display: inline-block;
}

.flex {
    display: flex;
}

.center {
    margin: auto;
    width: 60%;
  }

  